<!DOCTYPE html>
<html>
  <head>
    <title>Shop</title>
    <link rel="stylesheet" type="text/css" href="./product-style.css" />
  </head>
  <body>
    <div class="nav-bar"></div>

    <div id="app">
      <div class="product">
        <div class="product-image"><img v-bind:src="image" /></div>

        <div class="product-info">
          <h1>{{ product }}</h1>
          <p v-show="inventory > 10">In Stock</p>
          <p v-show="inventory < 10 && inventory > 0">Allmost sold out</p>
          <p v-show="inventory == 0">Out of Stock</p>
          <ul>
            <li v-for="detail in details">{{ detail }}</li>
          </ul>

          <div v-for="variant in variants" :key="variant.variantId">
            <p @mouseover="updateProduct(variant.variantImage)">{{ variant.variantColor }}</p>
          </div>

          <button v-on:click="addToCart">Add to Cart</button>

          <div class="cart">
            <p>Cart({{cart}})</p>
          </div>
        </div>
      </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <script src="./main.js"></script>
  </body>
</html>
